		h1 { 
			color: green; 
			}
		h2 { 
			text-decoration: underline; 
			font-size: 20px; 
			}
		p {
			color: pink;
			font-style: italic; 
			font-family: 'Xanh Mono', monospace;
			}
		body {
			background-image: url(../images/IMG_0220.JPG);
			background-repeat: no-repeat;
 			background-attachment: fixed;
  			background-size: 100% 100%;
		header {
			color: green;
			background: pink;
			font-style: italic; 
			font-family: 'Xanh Mono', monospace;
			}
		#my-id { 
			background-color: pink;
			font-style: italic; 
			}
		.my-class { 
			text-align: center; 
			margin: 10px;
			}
		.container {
			width: 80%; 
			font-family: 'Xanh Mono', monospace;
			background: pink; 
			overflow: hidden; 
			margin: 40px;
			padding: 20px; 
			border: 25px solid green;
			width: 400px; 
			Height:300px;
			}
		* {
			margin: 0;
			padding: 0;
			}
			
