		h1 { 
			color: green; 
			}
		h2 { 
			text-decoration: underline; 
			font size: 20px; 
			}
		#my-id { 
			background-color: pink;
			font-style: italic; 
			}
		.my-class { 
			text-align: center; 
			margin: 10px;
			}
		.container {
			background image: https://th.bing.com/th/id/R7c945aa44b2d4114226fa6a36d12c75a?rik=WctzUVVP85IC1A&riu=http%3a%2f%2fstatic.neatorama.com%2fimages%2f2015-08%2fsmiley-face-sunflower.jpg&ehk=YLhEC2kdkPitx2bi3VMB6D4JvWdTHZoqcJMfcugxNzo%3d&risl=&pid=ImgRaw;
			width: 80%; 
			background: pink; 
			overflow: hidden; 
			margin: 20px auto; 
			padding: 20px; 
			border:3px solid green;
			}
		
