		h1 { 
			color: green; 
			}
		h2 { 
			text-decoration: underline; 
			font size: 20px; 
			}
		#my-id { 
			background-color: pink;
			font-style: italic; 
			}
		.my-class { 
			text-align: center; 
			margin: 10px;
			}
		.container {
			background image: https://www.syl.ru/misc/i/ai/360783/2146540.jpg;
			width: 80%; 
			font: century gothic;
			background: pink; 
			overflow: hidden; 
			margin: 20px auto; 
			padding: 20px; 
			border:3px solid green;
			}
		
